.my-toast-ctnr {
    position: absolute;
    top: -400px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0, 0.8);
    box-sizing: border-box;
}

.my-toast-down-appear {
    animation: appear 1s forwards;
}

.my-toast-down-disappear {
    animation: disappear 6s forwards;
}

@keyframes appear {
    from {
        top: -400px;
    }
    to {
        top: 0;
    }
}

@keyframes disappear {
    from {
        top: 0;
    }
    to {
        top: -400px;
    }
}
